#root {
  margin: 0;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  font-family: Arial, sans-serif;
  color: #f4f4f4;
  padding-top: 90px;
}

::-webkit-scrollbar {
  display: none;
}

#bet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0px;
}

#bet-output {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  background-color: #1a1a1a;
}

@media screen and (min-width: 800px) {
  #root {
    padding-top: 110px;
  }
}
