#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #1e1e1e;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

#bet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0px;
}

#betOutput {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
