#blackjack-game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  min-height: 50vh;
  font-family: "Arial", sans-serif;
  padding: 10vh;
  gap: 10px;
}

.blackjack_button {
  padding: 20px 20px;
  background-color: #444;
  color: #f4f4f4;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 10px;
  width: calc(100% - 20px);
}

#game-table {
  display: flex;
  flex-direction: column;
  background-color: #228b22;
  border-radius: 355px;
  border: 10px solid #341c02;
  width: 80vw;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

#card-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

#game-table img {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: auto;
  max-height: 250px;
  object-fit: contain;
}

#action-area {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

#action-area button {
  background-color: #f0ad4e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

#action-area button:hover {
  background-color: #ec971f;
}

#player-hand,
#dealer-hand {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

#results-text {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
