.casino-header {
    background-color: #1c1e26; 
    color: #ffffff; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 

}

.casino-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.casino-header-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    flex-grow: 1;
    margin-left: 120px;
}

.nav-button {
    background-color: #0077ff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-right: 20px;
    text-decoration: none;
}

.nav-button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-button:hover {
    background-color: #005bb5; 
    transform: scale(1.05); 
}

.auth-actions {
    display: flex;
    align-items: center;
}

.auth-actions button {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #0077ff;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.auth-actions button:hover {
    background-color: #0077ff;
    color: white;
}

@media screen and (max-width: 768px) {
    .casino-header {
        flex-direction: column;
        text-align: center;
    }

    .casino-header-content {
        flex-direction: column;
        gap: 10px;
    }

    .casino-header-title {
        font-size: 1.5rem;
    }

    .nav-button {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
