body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2a2a2a;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  color: #ffcc00;
  margin-bottom: 1rem;
  padding: 10px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  max-width: 800px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.leaderboard {
  background-color: #444;
  padding: 1rem;
  border-radius: 8px;
  flex: 1;
  max-width: 50%;
}

.leaderboard h2 {
  margin: 0 0 0.5rem;
  color: #ffcc00;
}

.leaderboard ol {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.leaderboard li {
  margin: 0.3rem 0;
}

.player-score {
  background-color: #444;
  padding: 1rem;
  border-radius: 8px;
  flex: 1;
  max-width: 50%;
}

.player-score h2 {
  margin: 0 0 0.5rem;
  color: #ffcc00;
}

.player-score p {
  margin: 0.5rem 0;
}

.player-score button {
  padding: 0.5rem 1rem;
  background-color: #ffcc00;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.player-score button:hover {
  background-color: #e6b800;
}

.game-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}

.game-buttons Link button {
  background-color: #444;
  color: #f4f4f4;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.game-buttons Link button:hover {
  background-color: #555;
}

#home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
