.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100vw;
}

.home-leaderboard {
  background-color: #444;
  padding: 1rem;
  border-radius: 8px;
  flex: 1;
  width: 80vw;
}

.home-leaderboard h2 {
  margin: 0 0 0.5rem;
  color: #ffcc00;
}

.home-leaderboard ol {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.home-leaderboard li {
  margin: 0.3rem 0;
}

.home-stats {
  background-color: #444;
  padding: 1rem;
  border-radius: 8px;
  flex: 1;
  width: 80vw;
}

.home-stats h2 {
  margin: 0 0 0.5rem;
  color: #ffcc00;
}

.home-stats p {
  margin: 0.5rem 0;
}

.home-stats button {
  padding: 0.5rem 1rem;
  background-color: #ffcc00;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.home-stats button:hover {
  background-color: #e6b800;
}

.home-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}

.home-buttons Link button {
  background-color: #444;
  color: #f4f4f4;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.home-buttons Link button:hover {
  background-color: #555;
}

.home-buttons img {
  height: 50px;
  width: 50px;
}

.home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.home-header img {
  height: 40px;
  width: 40px;
}

.home-header h1 {
  color: #ffcc00;
  margin-bottom: 1rem;
  font-size: 40px;
}

.video {
  width: 90vw !important;
  height: 30vh !important;
}

@media screen and (min-width: 800px) {
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    width: 50vw;
  }

  .home-header,
  .home-buttons {
    grid-column: span 2;
  }

  .home-stats,
  .home-leaderboard {
    width: 15vw;
  }

  .home-header h1 {
    font-size: 50px;
  }

  .home-header img {
    height: 100px;
    width: 100px;
  }

  .home-buttons img {
    height: 150px;
    width: 150px;
  }

  .home-buttons p {
    font-size: 20px;
  }
}
