#game-table {
  display: flex;
  flex-direction: column;
  background-color: #228b22;
  border-radius: 355px;
  border: 10px solid #341c02;
  width: 80vw;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 100px;
}

#enemy-cards img,
#community-cards img,
#player-cards img {
  width: auto;
  max-height: 200px;
  object-fit: contain;
  padding: 10px;
}

#results {
  height: 5vh;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
