.race {
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 80vh;
}

#horses {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 50px;
  width: 80vw;
}

#horses img {
  width: 10vw;
  height: 10vw;
}

#race-button {
  background-color: gold;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-self: center;
  border-radius: 20px;
  color: black;
  font-size: 20px;
  margin-bottom: 20px;
}

#reset-button {
  background-color: gold;
  display: grid;
  justify-self: center;
  color: black;
  border-radius: 20px;
  grid-column: span 2;
}

#over-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

#colors {
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
  gap: 15px;
}

#colors button {
  border-radius: 20px;
  width: 200px;
  height: 45px;
  font-size: 20px;
  padding: 10px;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#disabled {
  background-color: gray;
}

.betting-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.betting-section img {
  height: 10vw;
  width: 10vw;
}

#bet {
  width: auto;
  color: white;
  font-size: 20px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 11vw 40px 80px;
  padding: 8px;
  gap: 4px;
}

#bet img {
  display: block;
}

#bet-output {
  display: flex;
  gap: 10px;
  grid-column: 1 / 7;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .betting-section img,
  #horses img {
    height: 100px;
    width: 100px;
  }

  #bet {
    grid-template-rows: 110px 40px 80px;
  }
  .betting-section {
    flex-direction: row;
  }
}
