#roulette-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  padding: 1vh;
  width: 98vw;
}

#roulette-bet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 7px;
}

.top {
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: top left;
  position: relative;
  top: -250px;
  left: -10px;
}

.zeros {
  display: grid;
  grid-template-columns: 45px 45px;
}

.middle {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.top_bottom {
  position: relative;
  top: -287px;
  margin-left: 8px;
  display: grid;
  grid-template-columns: 104px 104px 104px;
}

.bottom_bottom {
  position: relative;
  top: -287px;
  margin-left: 8px;
  display: grid;
  grid-template-columns: 52px 52px 52px 52px 52px 52px;
}

#roulette-bet #bet {
  position: relative;
  top: -250px;
}

.roulette {
  display: flex;
  flex-direction: column;
}

.roulette button {
  background-color: #007bff;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 800px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.roulette button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.winners-display {
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.winners-display h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #ffcc00;
}

.winners-display h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #ff9900;
}

.result-value {
  font-size: 32px;
  font-weight: bold;
  color: #4caf50;
  margin-bottom: 15px;
}

h4 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #ff9900;
  max-width: 400px;
  text-wrap: wrap;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

.table button {
  background-color: black;
}

@media screen and (min-width: 900px) {
  #roulette-body {
    flex-direction: row;
    gap: 100px;
  }

  #roulette-bet {
    font-size: 16px;
  }

  .top {
    top: -125px;
  }

  .zeros {
    grid-template-columns: 120px 120px;
  }

  .middle {
    grid-template-columns: 80px 80px 80px;
  }

  .top_bottom {
    top: -176px;
    margin-left: 30px;
    grid-template-columns: 156px 156px 156px;
  }

  .bottom_bottom {
    top: -176px;
    margin-left: 30px;
    grid-template-columns: 78px 78px 78px 78px 78px 78px;
  }

  #roulette-bet #bet {
    position: relative;
    top: -100px;
  }
}
