#main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  padding: 1vh;
}

#rbody {
  display: flex;
  flex-direction: column;
}

#roulette-bet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top {
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: top left;
  position: relative;
  top: -125px;
}
.zeros {
  display: grid;
  grid-template-columns: 120px 120px;
}
.middle {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.top_bottom {
  position: relative;
  top: -166px;
  margin-left: 40px;
  display: grid;
  grid-template-columns: 156px 156px 156px;
}
.bottom_bottom {
  position: relative;
  top: -166px;
  margin-left: 40px;
  display: grid;
  grid-template-columns: 78px 78px 78px 78px 78px 78px;
}

.better {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.roulette {
  display: flex;
  flex-direction: column;
}

.Roulette button {
  background-color: #007bff;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 800px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.Roulette button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.winners-display {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.winners-display h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #ffcc00;
}

.winners-display h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #ff9900;
}

.result-value {
  font-size: 32px;
  font-weight: bold;
  color: #4caf50;
  margin-bottom: 15px;
}

h4 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #ff9900;
  max-width: 400px;
  text-wrap: wrap;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

.table button {
  background-color: black;
}
